/*PLUNDER WATCHDOG control section style. Btw CSS selector types (class, id, state...) https://www.w3schools.com/css/css_selectors.asp*/
label.qol-plunder-target-list {
    margin: 5px;
    margin-bottom: 20px;
}
span.qol-plunder-target-list {
    margin: 5px;
    margin-bottom: 20px;
    padding: 2px;
    border: 1px solid #bab595;
}

label.qol-plunder-checkbox {
    margin: 5px;
    margin-bottom: 20px;
}
input.qol-plunder-checkbox {
    margin: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
}

label.qol-plunder-main-switch {
    /*display: block; /*show on separate line*/
    font-size: medium;
    margin: 5px;
    margin-bottom: 20px;
}
span.qol-plunder-main-switch {
    font-size: medium;
    font-weight: bold;
    margin: 5px;
}
button.qol-plunder-main-switch {
    /*display: block; /*show on separate line*/
    font-size: medium;
    font-weight: bold;
    margin: 10px;
    margin-right: 40px;
}

.qol-plunder-update-time-selector {
    margin: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.qol-plunder-update-status {
    margin: 5px;
    margin-bottom: 20px;
}

.qol-plunder-attack-status {
    margin: 5px;
    margin-bottom: 20px;
}

button.qol-plunder-add-target {
    margin-right: 10px;
    padding: 1px;
    background-color: #bab595;
    border-radius: 5px;
}
button.qol-plunder-remove-target {
    margin-left: 10px;
    padding: 1px;
    background-color: #bab595;
    border-radius: 5px;
}

/*QUICK CLAN SWITCH*/
button.qol-quick-clan-switch {
    background-color: transparent;
    border: none;
    font-size: large;
}